{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\museumplusforcraftcms\\MuseumPlusForCraftCmsAsset") %}
{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\collectioncpsection\\CollectionCPSectionAsset") %}

{% macro printArray(arr) %}
    {% for k,v in arr %}
        <li>
        {% if v is iterable %}
            {% if k matches '/^\\d+$/' %}
                {# ?? #}
            {% else %}
                <li>{{k}}</li>
            {% endif %}
            <ul style="padding-left: 1rem;">
                {{ _self.printArray(v) }}
            </ul>
        {% else %}
            {{k}}: {{v}}
            <br />
        {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# The title of this CP section #}
{% set title = "Vocabulary Item" %}
{% set selectedSubnavItem = 'vocabularies' %}

{% block header %}

    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>

{% endblock %}

{% set fieldLayout = vocabulary.getFieldLayout() %}
{% set form = fieldLayout.createForm(vocabulary) %}
{% set firstTabs = {
    "tab--museumplusforcraftcms-vocabulary": {
        "tabId": "tab-tab--museumplusforcraftcms-vocabulary",
        "label": "Title",
        "url": "#tab--museumplusforcraftcms-vocabulary",
        "class": null
    }
} %}

{% if currentUser.admin %}
    {% set firstTabs = {
        "tab--museumplusforcraftcms-vocabulary": {
            "tabId": "tab-tab--museumplusforcraftcms-vocabulary",
            "label": "Title",
            "url": "#tab--museumplusforcraftcms-vocabulary",
            "class": null
        },
        "tab--museumplusforcraftcms-data": {
            "tabId": "tab-tab--museumplusforcraftcms-data",
            "label": "MuseumPlus Data",
            "url": "#tab--museumplusforcraftcms-data",
            "class": null
        }
    } %}
{% endif %}

{% set tabs = firstTabs|merge(form.getTabMenu()) %}
{% set fieldsHtml = form.render(false) %}



{% block content %}
    <div id="fields">
        <div id="tab--museumplusforcraftcms-vocabulary" class="flex-fields" data-id="tab--museumplusforcraftcms-vocabulary" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-vocabulary">
            <fieldset id="fields-item-data" class="field">
                <div class="field" data-attribute="title">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{'Title'|t('app')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[title]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{vocabulary.title}}">
                    </div>
                </div>
                <div class="field" data-attribute="parentId">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{'Parent Id'|t('app')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[parentId]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{vocabulary.parentId}}">
                    </div>
                </div>
                <div class="field" data-attribute="collectionId">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{'Collection Id'|t('app')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[collectionId]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{vocabulary.collectionId}}">
                    </div>
                </div>
                <div class="field" data-attribute="type">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{'Type'|t('app')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[type]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{vocabulary.type}}">
                    </div>
                </div>
                <div class="field" data-attribute="language">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{'Language'|t('app')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[language]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{vocabulary.language}}">
                    </div>
                </div>
            </fieldset>
        </div>

        {% if currentUser.admin %}
            <div id="tab--museumplusforcraftcms-data" class="flex-fields hidden" data-id="tab--museumplusforcraftcms-data" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data">

                {% for key,value in vocabulary.getDataAttributes() %}

                    <div id="fields-{{key}}-field" class="field width-100">
                        <div class="heading">
                            <label id="fields-{{key}}-label" for="fields-{{key}}">{{key|t('museum-plus-for-craft-cms')}}</label>
                            <div class="flex-grow"></div>
                            <div id="fields-{{key}}-attribute" class="code small light copytextbtn" role="button" tabindex="0">
                                <input type="text" value="{{key}}" readonly="" size="17" tabindex="-1">
                            </div>
                        </div>
                        <div class="input ltr">

                            {% if value is iterable %}
                                <ul>
                                    {{_self.printArray(value)}}
                                </ul>
                            {% else %}
                                {% set v = value is iterable ? value|join(',') : value.timestamp is defined ? value|date : value %}
                                {% if v|length < 60 %}
                                    <input type="text" id="fields-{{key}}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[{{key}}]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{v}}">
                                {% else %}
                                    <textarea id="fields-{{key}}" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[{{key}}]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{v|nl2br}}</textarea>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {{ fieldsHtml|raw }}

    </div>

{% endblock %}