{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\museumplusforcraftcms\\MuseumPlusForCraftCmsAsset") %}
{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\collectioncpsection\\CollectionCPSectionAsset") %}

{% macro printArray(arr) %}
    {% for k,v in arr %}
        <li>
        {% if v is iterable %}
            {% if k matches '/^\\d+$/' %}
                {# ?? #}
            {% else %}
                <li style="font-style: italic;">{{ k }}:</li>
            {% endif %}
            <ul style="padding-left: 1rem; margin-bottom: 0.6rem;">
                {{ _self.printArray(v) }}
            </ul>
        {% else %}
            <span style="font-style: italic;">{{ k }}</span>: {{ v }}
            <br/>
        {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# The title of this CP section #}
{% set title = item.title %}
{% set selectedSubnavItem = 'items' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('collection') %}

{% set fieldLayout = item.getFieldLayout() %}
{% set form = fieldLayout.createForm(item) %}
{% set firstTabs = {
    "tab--museumplusforcraftcms-item": {
        "tabId": "tab-tab--museumplusforcraftcms-item",
        "label": "Item",
        "url": "#tab--museumplusforcraftcms-item",
        "class": null
    }
} %}

{% if currentUser.admin %}
    {% set firstTabs = {
        "tab--museumplusforcraftcms-item": {
            "tabId": "tab-tab--museumplusforcraftcms-item",
            "label": "Item",
            "url": "#tab--museumplusforcraftcms-item",
            "class": null
        },
        "tab--museumplusforcraftcms-data": {
            "tabId": "tab-tab--museumplusforcraftcms-data",
            "label": "Data",
            "url": "#tab--museumplusforcraftcms-data",
            "class": null
        },
        "tab--museumplusforcraftcms-meta": {
            "tabId": "tab-tab--museumplusforcraftcms-meta",
            "label": "Meta",
            "url": "#tab--museumplusforcraftcms-meta",
            "class": null
        },
        "tab--museumplusforcraftcms-extracontent": {
            "tabId": "tab-tab--museumplusforcraftcms-extracontent",
            "label": "Content",
            "url": "#tab--museumplusforcraftcms-extracontent",
            "class": null
        }
    } %}
{% endif %}

{% set tabs = firstTabs|merge(form.getTabMenu()) %}
{% set fieldsHtml = form.render(false) %}

{% block actionButton %}

    <div class="btngroup">
        <a class="view-btn btn" href="{{ item.url }}" target="_blank">
            {{ "View"|t }}
        </a>
        <button type="button" class="btn formsubmit" data-action="museum-plus-for-craft-cms/collection/sync">{{ 'Sync'|t('app') }}</button>

        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>

{% endblock %}


{% block header %}

    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>

{% endblock %}


{# The content of the CP Section #}
{% block content %}

    {# hidden inputs #}
    {{ actionInput('museum-plus-for-craft-cms/collection/update') }}
    {{ redirectInput( item.getCpEditUrl() ) }}
    <input type="hidden" name="itemId" value="{{ item.id }}">

    <div id="fields">
        <div id="tab--museumplusforcraftcms-item" class="flex-fields" data-id="tab--museumplusforcraftcms-item" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-item">
            {# forms.textField({
                label: 'Title'|t(),
                id: 'title',
                name: 'title',
                value: item.title,
                instructions: ''
            ) #}
            <fieldset id="fields-item-data" class="field width-50">
                <div class="field" data-attribute="title">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{ 'Title'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {{ item.title }}
                        {#
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[title]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ item.title }}">
                        #}
                    </div>
                </div>

                <div class="field" data-attribute="originator">
                    <div class="heading">
                        <label id="fields-originator-label" for="fields-originator">{{ 'Originator'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <ul>
                            {% for person in item.getAssociationPeople().all() %}
                                <li>{{ person.getDataAttribute('PerPersonTxt') }}</li>
                                {#
                                <input type="text" id="fields-originator-{{ person.id }}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[originator]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ person.getDataAttribute('PerPersonTxt') }}">
                                #}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="field" data-attribute="dating">
                    <div class="heading">
                        <label id="fields-dating-label" for="fields-dating">{{ 'Dating'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {{ item.getDating()|join(', ') }}
                        {#
                        <input type="text" id="fields-dating" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[dating]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ item.getDating()|join(', ') }}">
                        #}
                    </div>
                </div>

                <div class="field" data-attribute="inventory-number">
                    <div class="heading">
                        <label id="fields-inventory-number-label" for="fields-inventory-number">{{ 'Inventory Number'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {{ item.inventoryNumber }}
                        {#
                        <input type="text" id="fields-inventory-number" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[inventory-number]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ item.inventoryNumber }}">
                        #}
                    </div>
                </div>

                <div class="field" data-attribute="material">
                    <div class="heading">
                        <label id="fields-material-label" for="fields-material">{{ 'Material'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {{ item.getMaterial()|join }}
                        {#
                        <input type="text" id="fields-material" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[material]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ item.getMaterial()|join }}">
                        #}
                    </div>
                </div>

                <div class="field" data-attribute="dimension">
                    <div class="heading">
                        <label id="fields-dimension-label" for="fields-dimension">{{ 'Dimensions'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {{ item.getDimensions()|join }}
                        {#
                        <input type="text" id="fields-dimension" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[dimension]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ item.getDimensions()|join }}">
                        #}
                    </div>
                </div>

                <hr>

                <div class="field" data-attribute="geographical-references-style-culture">
                    <div class="heading">
                        <label id="fields-geographical-references-style-culture-label" for="fields-geographical-references-style-culture">{{ 'Geographical References: Style/Culture'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set geographyCulture = item.getGeographyCulture().all() %}
                    {% if geographyCulture|length %}
                        <ul>
                            {% for geo in geographyCulture %}
                                <li>
                                    {# <a href="/admin/museum-plus-for-craft-cms/vocabularies/{{ geo.id }}">&raquo; {{ geo.title }}</a> #}
                                    {{ geo.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                </div>

                <div class="field" data-attribute="geographical-references">
                    <div class="heading">
                        <label id="fields-geographical-references" for="fields-geographical-references">{{ 'Geographical References: Political'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set geographyPolitical = item.getGeographicReferences().all() %}
                    {% if geographyPolitical|length %}
                        <ul>
                            {% for geo in geographyPolitical %}
                                <li>
                                    <span>{{ geo.title }} {{ geo.id }}</span>
                                    {% set parents = geo.getParents() %}
                                    {% for parent in parents %}
                                        {% if loop.index < 10 %}
                                            , <span>{{ parent.title }} {{ parent.id }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                </div>

                <div class="field" data-attribute="geographical-references">
                    <div class="heading">
                        <label id="fields-geographical-references" for="fields-geographical-references">{{ 'Geographical References: Historic'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set geographyHistoric = item.getGeographicReferencesHistory().all() %}
                    {% if geographyHistoric|length %}
                        <ul>
                            {% for geo in geographyHistoric %}
                                <li>
                                    {{ geo.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                </div>

                <div class="field" data-attribute="geographical-references">
                    <div class="heading">
                        <label id="fields-geographical-references" for="fields-geographical-references">{{ 'Geographical References: Geographic'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set geographyGeo = item.getGeographicReferencesGeography().all() %}
                    {% if geographyGeo|length %}
                        <ul>
                            {% for geo in geographyGeo %}
                                <li>
                                    {{ geo.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                </div>

                <div class="field" data-attribute="geographical-references">
                    <div class="heading">
                        <label id="fields-geographical-references-label" for="fields-geographical-references">{{ 'Geographical References (old)'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set geographyOld = item.getGeographicReferencesOld().all() %}
                    {% if geographyOld|length %}
                        <ul>
                            {% for geo in geographyOld %}
                                <li>
                                    {#
                                    <a href="/admin/museum-plus-for-craft-cms/vocabularies/{{ geo.id }}">&raquo; {{ geo.title }}</a>
                                    #}
                                    {{ geo.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                </div>
                <hr>

                <div class="field" data-attribute="tags">
                    <div class="heading">
                        <label id="fields-tags-label" for="fields-tags">{{ 'Tags'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set tags = item.getTags().all() %}
                    {% if tags|length %}
                        <ul>
                            {% for tag in tags %}
                                <li>
                                    {#
                                    <a href="/admin/museum-plus-for-craft-cms/vocabularies/{{ geo.id }}">&raquo; {{ geo.title }}</a>
                                    #}
                                    {{ tag.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                </div>


            </fieldset>

            <fieldset id="fields-item-refs" class="field width-50">
                <div class="field" data-attribute="attachment">
                    <div class="heading"><label>Main Image</label></div>
                    <div class="input ltr">
                        {% if item.getAttachment() %}
                            {% set myAsset = item.getAttachment() %}
                            {% if myAsset %}
                                {% set thumb = {
                                    width: 300,
                                    quality: 75
                                } %}
                                {% set myAssetUrl = myAsset.getUrl(thumb) %}

                                <a href="{{ myAsset.getCpEditUrl() }}">
                                    <img src="{{ myAssetUrl }}" width="150"/>
                                </a>
                            {% else %}
                                <p>No asset selected</p>
                            {% endif %}
                        {% else %}
                            <p>No asset selected</p>
                        {% endif %}
                    </div>
                </div>
                <div class="field" data-attribute="multiMedia">
                    <div class="heading"><label>Digital Assets</label></div>
                    <div class="flex">
                        {% for myAsset in item.getMultimedia() %}
                            {% if myAsset %}
                                {% set thumb = {
                                    width: 300,
                                    quality: 75
                                } %}
                                {% set myAssetUrl = myAsset.getUrl(thumb) %}

                                <a href="{{ myAsset.getCpEditUrl() }}">
                                    <img src="{{ myAssetUrl }}" width="150"/>
                                </a>
                            {% else %}
                                <p>No asset selected</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </fieldset>

            <fieldset id="fields-item-more" class="field width-100">
                <div class="field" data-attribute="detail-text">
                    <div class="heading">
                        <label id="fields-detail-text-label" for="fields-detail-text">{{ 'Text'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {% set text = item.getDetailText() %}
                        {% if text|length %}
                            {{ text }}
                        {% else %}
                            n.a.
                        {% endif %}
                    </div>
                </div>

                <div class="field" data-attribute="geographical-references">
                    <div class="heading">
                        <label id="fields-geographical-references" for="fields-geographical-references">{{ 'Provenance (ownership)'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <ul>
                        {% for ownership in item.getOwnerships().all() %}
                            <li>
                                {#
                                <a href="/admin/museum-plus-for-craft-cms/vocabularies/{{ ownership.id }}">&raquo; {{ ownership.title }}</a>
                                #}
                                {{ ownership.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="field" data-attribute="credit-line">
                    <div class="heading">
                        <label id="fields-credit-line-label" for="fields-credit-line">{{ 'Credit Line'|t('museum-plus-for-craft-cms') }}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {% set text = item.getCreditLine() %}
                        {% if text|length %}
                            {{ text }}
                        {% else %}
                            n.a.
                        {% endif %}
                    </div>
                </div>

                <div class="field" data-attribute="relatedItems">
                    <div class="heading">
                        <label>Related Items</label>
                        <div class="flex-grow"></div>
                    </div>

                    {% set relatedItems = item.getRelatedItems().all() %}
                    {% if relatedItems|length %}
                        <ul>
                            {% for relatedItem in relatedItems %}
                                <li>
                                    {#
                                    <a href="/admin/museum-plus-for-craft-cms/vocabularies/{{ geo.id }}">&raquo; {{ geo.title }}</a>
                                    #}
                                    {{ relatedItem.getDataAttribute('ObjObjectTitleVrt') }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        n.a.
                    {% endif %}
                    {#
                    {% set rItemValues = [] %}
                    {% for relatedItem in item.getRelatedItems().all() %}
                        {% set rItemValues = rItemValues|merge([relatedItem.getDataAttribute('ObjObjectTitleVrt')]) %}
                    {% endfor %}
                    <div class="input ltr">
                        <textarea id="fields-related-items" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[related-items]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;"> – {{ rItemValues|join('\n – ') }}</textarea>
                    </div>
                    #}
                </div>

                <div class="field" data-attribute="literature">
                    <div class="heading">
                        <label>References/Literature</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">

                        {% set literatures = item.getLiterature().all() %}
                        {% if literatures|length %}
                            <ul>
                                {% for literature in literatures %}
                                    <li>
                                        {#
                                        <a href="/admin/museum-plus-for-craft-cms/vocabularies/{{ geo.id }}">&raquo; {{ geo.title }}</a>
                                        #}
                                        {{ literature.getDataAttribute('LitLiteratureVrt') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            n.a.
                        {% endif %}


                    </div>
                </div>

            </fieldset>

        </div>

        {% if currentUser.admin %}
            <div id="tab--museumplusforcraftcms-data" class="flex-fields hidden" data-id="tab--museumplusforcraftcms-data" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data">

                {% for key,value in item.getDataAttributes() %}

                    <div id="fields-{{ key }}-field" class="field width-100">
                        <div class="heading">
                            <label id="fields-{{ key }}-label" for="fields-{{ key }}">{{ key|t('museum-plus-for-craft-cms') }}</label>
                            <div class="flex-grow"></div>
                            <div id="fields-{{ key }}-attribute" class="code small light copytextbtn" role="button" tabindex="0">
                                <input type="text" value="{{ key }}" readonly="" size="17" tabindex="-1">
                            </div>
                        </div>
                        <div class="input ltr">

                            {% if value is iterable %}
                                <ul>
                                    {{ _self.printArray(value) }}
                                </ul>
                                    <hr />
                            {% else %}
                                {% set v = value is iterable ? value|join(',') : value.timestamp is defined ? value|date : value %}
                                {% if v|length < 60 %}
                                    <input type="text" id="fields-{{ key }}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[{{ key }}]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{ v }}">
                                {% else %}
                                    <textarea id="fields-{{ key }}" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[{{ key }}]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{ v|nl2br }}</textarea>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="tab--museumplusforcraftcms-meta" class="flex-fields hidden" data-id="tab--museumplusforcraftcms-meta" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-meta">

            <div id="fields-metaText-field" class="field width-100">
                <div class="heading">
                    <label id="fields-metadescription-label" for="fields-metaText">Metadescription</label>
                </div>
                <div class="input ltr">
                    <textarea id="fields-metaText" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[metaText]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{ item.metaText }}</textarea>
                </div>
            </div>

            <div id="fields-metakeywords-field" class="field width-100">
                <div class="heading">
                    <label id="fields-metakeywords-label" for="fields-metaKeywords">Metakeywords</label>
                </div>
                <div class="input ltr">
                    <textarea id="fields-metakeywords" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[metakeywords]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{ item.metaKeywords }}</textarea>
                </div>
            </div>

        </div>


        <div id="tab--museumplusforcraftcms-extracontent" class="flex-fields hidden" data-id="tab--museumplusforcraftcms-extracontent" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-meta">
            <div id="fields-extracontentText-field" class="field width-100">
                <div class="heading">
                    <label id="fields-extracontentExtraTitle-label" for="fields-extracontentExtraTitle">Extra Title</label>
                </div>
                <div class="input ltr">
                    <input type="text" id="fields-extracontentExtraTitle" class="nicetext text fullwidth" name="fields[extraTitle]" value="{{ item.extraTitle }}" dir="ltr" placeholder="" data-show-chars-left=""></input>
                </div>
            </div>
            <div id="fields-extracontentDesctiption-field" class="field width-100">
                <div class="heading">
                    <label id="fields-extracontentExtraDescription-label" for="fields-extracontentExtraDescription">Extra Desctription</label>
                </div>
                <div class="input ltr">
                    <textarea id="fields-extracontentText" class="nicetext text fullwidth" name="fields[extraDescription]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{ item.extraDescription }}</textarea>
                </div>
            </div>
            <div class="btngroup">
                <br><br><br><button id="get-ai-data-btn" class="btn">Generate content (AI)</button>
                <script>
                    window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName }}";
                    window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
                    document.getElementById('get-ai-data-btn').addEventListener('click', function () {
                        const btn = this;
                        btn.disabled = true; // disable button to prevent multiple clicks
                        const itemId = {{ item.id }};
                        var data = {itemId: itemId };
                        data[window.csrfTokenName] = window.csrfTokenValue;
                        $.ajax({
                            url: '/actions/museum-plus-for-craft-cms/collection/get-extra-content-ai',
                            type: 'POST',
                            dataType: 'json',
                            data:data,
                            success: function(response) {
                                console.log(response);
                                btn.disabled = false;
                                $('#fields-extracontentExtraTitle').val(response.extraTitle);
                                $('#fields-extracontentText').val(response.extraDescription);
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                console.error('AJAX Error:', errorThrown);
                                btn.disabled = false;
                            }
                        });
                    });
                </script>
            </div>
        </div>
        {{ fieldsHtml|raw }}
    </div>
{% endblock %}

{% block details %}
    <fieldset>
        <div class="meta">
            <div class="field">
                <div class="heading">
                    <label for="">{{ 'Collection Id'|t('app') }}</label>
                </div>
                <div class="input ltr">
                    {{ item.collectionId }}
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label for="">{{ 'Object Groups'|t('app') }}</label>
                </div>
                <div class="input ltr">
                    {% for group in item.getObjectGroups.all() %}
                        {{ group.title }}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>{{ 'Last Update'|t('app') }}</label>
                </div>
                <div class="input ltr">
                    {{ item.dateUpdated|datetime('medium') }}
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label for="">{{ 'Created at'|t('app') }}</label>
                </div>
                <div class="input ltr">
                    {{ item.dateCreated|datetime('medium') }}
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}
