{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\museumplusforcraftcms\\MuseumplusForCraftcmsAsset") %}

{# The title of this CP section #}
{% set title = "Collection Item" %}
{% set selectedSubnavItem = 'items' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('collection') %}

{% set fieldLayout = item.getFieldLayout() %}
{% set form = fieldLayout.createForm(item) %}
{% set firstTab = {
    "tab--museumplusforcraftcms-data": {
        "tabId": "tab-tab--museumplusforcraftcms-data",
        "label": "Museumplus Data",
        "url": "#tab--museumplusforcraftcms-data",
        "class": null
    }
} %}
{% set tabs = firstTab|merge(form.getTabMenu()) %}
{% set fieldsHtml = form.render(false) %}

{% block actionButton %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}


{% block header %}

    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>

{% endblock %}


{# The content of the CP Section#}
{% block content %}
    {{ actionInput('museum-plus-for-craft-cms/collection/save') }}
    {{ redirectInput('museum-plus-for-craft-cms/collection') }}

    {% if item is defined and item.id %}
        <input type="hidden" name="itemId" value="{{ item.id }}">
    {% endif %}

    <div id="fields">
        <div id="tab--museumplusforcraftcms-data" class="flex-fields" data-id="tab--museumplusforcraftcms-data" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data">
            {{ forms.textField({
                label: 'Title'|t(),
                id: 'title',
                name: 'title',
                value: item.title,
                instructions: ''
            }) }}

            <h2>Importierte Daten</h2>

            {% for key,value in item.attributes %}
                <div id="fields-{{key}}-field" class="field width-100">
                    <div class="heading">
                        <label id="fields-{{key}}-label" for="fields-test3">{{key|t('museumplusforcraftcms')}}</label>
                    </div>
                    <div class="ltr">
                        {% if value is not empty %}
                            <p>{{value|raw}}</p>
                        {% else %}
                            <p>–</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ fieldsHtml|raw }}
    </div>
{% endblock %}


{% block details %}
    add details here
{% endblock %}
