{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\museumplusforcraftcms\\MuseumPlusForCraftCmsAsset") %}
{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\collectioncpsection\\CollectionCPSectionAsset") %}

{% macro printArray(arr) %}
    {% for k,v in arr %}
        <li>
            {% if v is iterable %}
                {% if k matches '/^\\d+$/' %}
                    {# ?? #}
                {% else %}
                    <li>{{k}}</li>
                {% endif %}
                <ul style="padding-left: 1rem;">
                    {{ _self.printArray(v) }}
                </ul>
            {% else %}
                {{k}}: {{v}}
                <br />
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# The title of this CP section #}
{% set title = "Collection Item" %}
{% set selectedSubnavItem = 'items' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('collection') %}

{% set fieldLayout = item.getFieldLayout() %}
{% set form = fieldLayout.createForm(item) %}
{% set firstTabs = {
    "tab--museumplusforcraftcms-item": {
        "tabId": "tab-tab--museumplusforcraftcms-item",
        "label": "Title",
        "url": "#tab--museumplusforcraftcms-item",
        "class": null
    }
} %}

{% if currentUser.admin %}
    {% set firstTabs = {
        "tab--museumplusforcraftcms-item": {
            "tabId": "tab-tab--museumplusforcraftcms-item",
            "label": "Title",
            "url": "#tab--museumplusforcraftcms-item",
            "class": null
        },
        "tab--museumplusforcraftcms-data": {
            "tabId": "tab-tab--museumplusforcraftcms-data",
            "label": "MuseumPlus Data",
            "url": "#tab--museumplusforcraftcms-data",
            "class": null
        }
    } %}
{% endif %}

{% set tabs = firstTabs|merge(form.getTabMenu()) %}
{% set fieldsHtml = form.render(false) %}

{% block actionButton %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
    </div>

{% endblock %}


{% block header %}

    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>

{% endblock %}


{# The content of the CP Section#}
{% block content %}

    {# hidden inputs #}
    {{ actionInput('museum-plus-for-craft-cms/collection/update') }}
    {{ redirectInput('museum-plus-for-craft-cms/collection') }}
    <input type="hidden" name="itemId" value="{{ item.id }}">

    <div id="fields">
        <div id="tab--museumplusforcraftcms-item" class="flex-fields" data-id="tab--museumplusforcraftcms-item" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-item">
            {# forms.textField({
                label: 'Title'|t(),
                id: 'title',
                name: 'title',
                value: item.title,
                instructions: ''
            ) #}
            <fieldset id="fields-item-data" class="field width-50">
                <div class="field" data-attribute="title">
                    <div class="heading">
                        <label id="fields-title-label" for="fields-title">{{'Title'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-title" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[title]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{item.getDataAttribute('ObjObjectTitleVrt')}}">
                    </div>
                </div>

                <div class="field" data-attribute="originator">
                    <div class="heading">
                        <label id="fields-originator-label" for="fields-originator">{{'Originator'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        {% for person in item.getAssociationPeople().all() %}
                            <input type="text" id="fields-originator-{{person.id}}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[originator]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{person.getDataAttribute('PerPersonTxt')}}">
                        {% endfor %}
                    </div>
                </div>

                <div class="field" data-attribute="dating">
                    <div class="heading">
                        <label id="fields-dating-label" for="fields-dating">{{'Dating'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-dating" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[dating]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{item.getDating()|join(', ')}}">
                    </div>
                </div>

                <div class="field" data-attribute="inventory-number">
                    <div class="heading">
                        <label id="fields-inventory-number-label" for="fields-inventory-number">{{'Inventory Number'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-inventory-number" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[inventory-number]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{item.getDataAttribute('ObjObjectNumberTxt')}}">
                    </div>
                </div>

                <div class="field" data-attribute="geographical-references">
                    <div class="heading">
                        <label id="fields-geographical-references-label" for="fields-geographical-references">{{'Geographical References'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-geographical-references" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[geographical-references]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{item.getGeographicReferences()}}">
                    </div>
                </div>

                <div class="field" data-attribute="material">
                    <div class="heading">
                        <label id="fields-material-label" for="fields-material">{{'Material'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-material" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[material]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{item.getMaterial()|join}}">
                    </div>
                </div>

                <div class="field" data-attribute="dimension">
                    <div class="heading">
                        <label id="fields-dimension-label" for="fields-dimension">{{'Dimensions'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <input type="text" id="fields-dimension" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[dimension]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{item.getDimensions()|join}}">
                    </div>
                </div>

                <div class="field" data-attribute="provenance">
                    <div class="heading">
                        <label id="fields-provenance-label" for="fields-provenance">{{'Provenance'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set ownershipValues = [] %}
                    {% for ownership in item.getOwnerships().all() %}
                        {% set ownershipValues = ownershipValues|merge([ownership.getDataAttribute('OwsOwnershipVrt')]) %}
                    {% endfor %}
                    <div class="input ltr">
                        <textarea id="fields-provenance" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[provenance]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;"> – {{ownershipValues|join('\n – ')}}</textarea>
                    </div>
                </div>

                <div class="field" data-attribute="credit-line">
                    <div class="heading">
                        <label id="fields-credit-line-label" for="fields-credit-line">{{'Credit Line'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <textarea id="fields-credit-line" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[credit-line]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;"> – {{item.getCreditLine()|join('\n – ')}}</textarea>
                    </div>
                </div>

                <div class="field" data-attribute="tags">
                    <div class="heading">
                        <label id="fields-tags-label" for="fields-credit-line">{{'Tags'|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                    </div>
                    <div class="input ltr">
                        <textarea id="fields-tags" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[tags]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">To be implemented</textarea>
                    </div>
                </div>

                <div class="field" data-attribute="literature">
                    <div class="heading">
                        <label>References/Literature</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set literatureValues = [] %}
                    {% for literature in item.getLiterature().all() %}
                        {% set literatureValues = literatureValues|merge([literature.getDataAttribute('LitLiteratureVrt')]) %}
                    {% endfor %}
                    <div class="input ltr">
                        <textarea id="fields-literature" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[literature]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;"> – {{literatureValues|join('\n – ')}}</textarea>
                    </div>
                </div>

                <div class="field" data-attribute="relatedItems">
                    <div class="heading">
                        <label>Related Items</label>
                        <div class="flex-grow"></div>
                    </div>
                    {% set rItemValues = [] %}
                    {% for relatedItem in item.getRelatedItems().all() %}
                        {% set rItemValues = rItemValues|merge([relatedItem.getDataAttribute('ObjObjectTitleVrt')]) %}
                    {% endfor %}
                    <div class="input ltr">
                        <textarea id="fields-related-items" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[related-items]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;"> – {{rItemValues|join('\n – ')}}</textarea>
                    </div>
                </div>

            </fieldset>
            <fieldset id="fields-item-refs" class="field width-50">
                <div class="field" data-attribute="attachment">
                    <div class="heading"><label>Main Image</label></div>
                    <div class="input ltr">
                        {% if item.getAttachment() %}
                            {% set myAsset = item.getAttachment() %}
                            {% if myAsset %}
                                {% set thumb = {
                                    width: 300,
                                    quality: 75
                                } %}
                                {% set myAssetUrl = myAsset.getUrl(thumb) %}

                                <a href="{{ myAsset.getCpEditUrl() }}">
                                    <img src="{{ myAssetUrl }}" width="150" />
                                </a>
                            {% else %}
                                <p>No asset selected</p>
                            {% endif %}
                        {% else %}
                            <p>No asset selected</p>
                        {% endif %}
                    </div>
                </div>
                <div class="field" data-attribute="multiMedia">
                    <div class="heading"><label>Digital Assets</label></div>
                    <div class="flex">
                        {% for myAsset in item.getMultimedia() %}
                            {% if myAsset %}
                                {% set thumb = {
                                    width: 300,
                                    quality: 75
                                } %}
                                {% set myAssetUrl = myAsset.getUrl(thumb) %}

                                <a href="{{ myAsset.getCpEditUrl() }}">
                                    <img src="{{ myAssetUrl }}" width="150" />
                                </a>
                            {% else %}
                                <p>No asset selected</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </fieldset>

        </div>

        {% if currentUser.admin %}
            <div id="tab--museumplusforcraftcms-data" class="flex-fields hidden" data-id="tab--museumplusforcraftcms-data" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data">

                {% for key,value in item.getDataAttributes() %}

                    <div id="fields-{{key}}-field" class="field width-100">
                        <div class="heading">
                            <label id="fields-{{key}}-label" for="fields-{{key}}">{{key|t('museum-plus-for-craft-cms')}}</label>
                            <div class="flex-grow"></div>
                            <div id="fields-{{key}}-attribute" class="code small light copytextbtn" role="button" tabindex="0">
                                <input type="text" value="{{key}}" readonly="" size="17" tabindex="-1">
                            </div>
                        </div>
                        <div class="input ltr">

                        {% if value is iterable %}
                            <ul>
                                {{_self.printArray(value)}}
                            </ul>
                        {% else %}
                            {% set v = value is iterable ? value|join(',') : value.timestamp is defined ? value|date : value %}
                            {% if v|length < 60 %}
                                <input type="text" id="fields-{{key}}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[{{key}}]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{v}}">
                            {% else %}
                                <textarea id="fields-{{key}}" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[{{key}}]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{v|nl2br}}</textarea>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {{ fieldsHtml|raw }}

    </div>
{% endblock %}


{% block details %}
    add details here
{% endblock %}
