{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\museumplusforcraftcms\\MuseumplusForCraftcmsAsset") %}
{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\collectioncpsection\\CollectionCPSectionAsset") %}


{# The title of this CP section #}
{% set title = "Collection Item" %}
{% set selectedSubnavItem = 'items' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('collection') %}

{% set fieldLayout = item.getFieldLayout() %}
{% set form = fieldLayout.createForm(item) %}
{% set firstTab = {
    "tab--museumplusforcraftcms-data": {
        "tabId": "tab-tab--museumplusforcraftcms-data",
        "label": "Museumplus Data",
        "url": "#tab--museumplusforcraftcms-data",
        "class": null
    }
} %}
{% set tabs = firstTab|merge(form.getTabMenu()) %}
{% set fieldsHtml = form.render(false) %}

{% block actionButton %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
    </div>

{% endblock %}


{% block header %}

    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>

{% endblock %}


{# The content of the CP Section#}
{% block content %}

    {# hidden inputs #}
    {{ actionInput('museum-plus-for-craft-cms/collection/update') }}
    {{ redirectInput('museum-plus-for-craft-cms/collection') }}
    <input type="hidden" name="itemId" value="{{ item.id }}">

    <div id="fields">
        <div id="tab--museumplusforcraftcms-data" class="flex-fields" data-id="tab--museumplusforcraftcms-data" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data">
            {{ forms.textField({
                label: 'Title'|t(),
                id: 'title',
                name: 'title',
                value: item.title,
                instructions: ''
            }) }}

            <h2>Importierte Daten</h2>

            {% for key,value in item.attributes %}
                <div id="fields-{{key}}-field" class="field width-100">
                    <div class="heading">
                        <label id="fields-{{key}}-label" for="fields-{{key}}">{{key|t('museum-plus-for-craft-cms')}}</label>
                        <div class="flex-grow"></div>
                        <div id="fields-{{key}}-attribute" class="code small light copytextbtn" role="button" tabindex="0">
                            <input type="text" value="{{key}}" readonly="" size="17" tabindex="-1">
                        </div>
                    </div>
                    <div class="input ltr">
                    {% if value is iterable %}
                        {% for k, v in value %}
                            {% if value is iterable %}
                                {% for k2, v2 in v %}
                                    {{k2}}: {{v2}}
                                    <br />
                                {% endfor %}
                            {% else %}
                                {{k}}: {{v}}
                                <br />
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if value|length < 60 %}
                            <input type="text" id="fields-{{key}}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[{{key}}]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{value is iterable ? value|join(',') : value}}">
                        {% else %}
                            <textarea id="fields-{{key}}" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[{{key}}]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{value|nl2br}}</textarea>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>

        {{ fieldsHtml|raw }}

    </div>
{% endblock %}


{% block details %}
    add details here
{% endblock %}
