{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\museumplusforcraftcms\\MuseumPlusForCraftCmsAsset") %}
{% do view.registerAssetBundle("furbo\\museumplusforcraftcms\\assetbundles\\collectioncpsection\\CollectionCPSectionAsset") %}


{# The title of this CP section #}
{% set title = "Collection Item" %}
{% set selectedSubnavItem = 'items' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('collection') %}

{% set fieldLayout = item.getFieldLayout() %}
{% set form = fieldLayout.createForm(item) %}
{% set firstTabs = {
    "tab--museumplusforcraftcms-data-title": {
        "tabId": "tab-tab--museumplusforcraftcms-data-title",
        "label": "Title",
        "url": "#tab--museumplusforcraftcms-data-title",
        "class": null
    },
    "tab--museumplusforcraftcms-data": {
        "tabId": "tab-tab--museumplusforcraftcms-data",
        "label": "MuseumPlus Data",
        "url": "#tab--museumplusforcraftcms-data",
        "class": null
    }
} %}
{% set tabs = firstTabs|merge(form.getTabMenu()) %}
{% set fieldsHtml = form.render(false) %}

{% block actionButton %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
    </div>

{% endblock %}


{% block header %}

    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>

{% endblock %}


{# The content of the CP Section#}
{% block content %}

    {# hidden inputs #}
    {{ actionInput('museum-plus-for-craft-cms/collection/update') }}
    {{ redirectInput('museum-plus-for-craft-cms/collection') }}
    <input type="hidden" name="itemId" value="{{ item.id }}">

    <div id="fields">
        <div id="tab--museumplusforcraftcms-data-title" class="flex-fields" data-id="tab--museumplusforcraftcms-data-title" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data-title">
            {{ forms.textField({
                label: 'Title'|t(),
                id: 'title',
                name: 'title',
                value: item.title,
                instructions: ''
            }) }}
            <div class="field" data-attribute="attachment">
                <div class="heading"><label>Main Image</label></div>
                <div class="input ltr">
                    {% if item.getAttachment() %}
                        {% set myAsset = item.getAttachment() %}
                        {% if myAsset %}
                            {% set thumb = {
                                width: 300,
                                quality: 75
                            } %}
                            {% set myAssetUrl = myAsset.getUrl(thumb) %}

                            <a href="{{ myAsset.getCpEditUrl() }}">
                                <img src="{{ myAssetUrl }}" width="150" />
                            </a>
                        {% else %}
                            <p>No asset selected</p>
                        {% endif %}
                    {% else %}
                        <p>No asset selected</p>
                    {% endif %}
                </div>
            </div>
            <div class="field" data-attribute="multiMedia">
                <div class="heading"><label>Media</label></div>
                <div class="flex">
                    {% for myAsset in item.getMultimedia() %}
                        {% if myAsset %}
                            {% set thumb = {
                                width: 300,
                                quality: 75
                            } %}
                            {% set myAssetUrl = myAsset.getUrl(thumb) %}

                            <a href="{{ myAsset.getCpEditUrl() }}">
                                <img src="{{ myAssetUrl }}" width="150" />
                            </a>
                        {% else %}
                            <p>No asset selected</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="tab--museumplusforcraftcms-data" class="flex-fields hidden" data-id="tab--museumplusforcraftcms-data" role="tabpanel" aria-labelledby="tab-tab--museumplusforcraftcms-data">

                {% for key,value in item.attributes %}
                    <div id="fields-{{key}}-field" class="field width-100">
                        <div class="heading">
                            <label id="fields-{{key}}-label" for="fields-{{key}}">{{key|t('museum-plus-for-craft-cms')}}</label>
                            <div class="flex-grow"></div>
                            <div id="fields-{{key}}-attribute" class="code small light copytextbtn" role="button" tabindex="0">
                                <input type="text" value="{{key}}" readonly="" size="17" tabindex="-1">
                            </div>
                        </div>
                        <div class="input ltr">

                        {% if value is iterable %}

                            {% for k, v in value %}
                                {% if v is iterable %}
                                    {% for k2, v2 in v %}
                                        {% if key == 'multiMediaObjects' %}
                                            {{dump(v2)}}
                                        {% endif %}
                                        {{k2}}: {{v2}}
                                        <br />
                                    {% endfor %}
                                {% else %}
                                    {{k}}: {{v}}
                                    <br />
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if value|length < 60 %}
                                <input type="text" id="fields-{{key}}" disabled="disabled" class="disabled nicetext text fullwidth" name="fields[{{key}}]" autocomplete="off" placeholder="" dir="ltr" data-show-chars-left="" value="{{value is iterable ? value|join(',') : value}}">
                            {% else %}
                                <textarea id="fields-{{key}}" disabled="disabled" class="nicetext text fullwidth disabled" name="fields[{{key}}]" rows="4" cols="50" placeholder="" data-show-chars-left="" style="min-height: 94px;">{{value|nl2br}}</textarea>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
        </div>

        {{ fieldsHtml|raw }}

    </div>
{% endblock %}


{% block details %}
    add details here
{% endblock %}
